html{
    font-size: 18px;
}

body {
    background-color: rgba(122, 115, 115, 0.5);
    margin: 0;
}

@font-face {
    src: url("../Fonts/Amatic_font/AmaticSC-Bold.ttf");
    font-family: "Amatic Bold";
}

.main {
    margin: auto;
    width: 1000px;
}

.header {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 15px;
}

.title {
    text-align: center;
    color:rgb(0, 16, 107)
}

.subtitle {
    color:rgb(29, 157, 216);
    -webkit-text-stroke: .5px black;
    margin-top: 30px;
    border-left: 5px solid rgb(165, 135, 0);
    padding-left: 20px;
}

.image_of_me {
    width: 960px;
    height: 495px;
    text-align: center;
    background-color: rgba(92, 88, 82, 0.5);
    padding: 25px;
}

.img {
    border: 1px solid pink;
}

.header_link {
    margin: 0 5px;
}

.link {
    color:rgb(177, 66, 47);
    transition: color .4s;
}

.link:hover {
    color: rgb(3, 117, 28);
}

.footer {
    border-top: 1px solid grey;
    text-align: center;
    margin-top: 10px;
    padding: 15px 0px;
}